<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Title</title>
</head>
<body>
   <table width="200px" style="text-align: center">
       <tr>
           <td>index</td>
           <td>id</td>
           <td>name</td>
           <td>age</td>

       </tr>
        <tr th:each=" user ,iterstat : ${list}">
        <td th:text="${iterstat.index}"></td>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        </tr>
   </table>
</body>
</html>