<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Title</title>
</head>
<body>
    id:<span th:text="${user.id}"></span>
    <br>
    name:<span th:text="${user.name}"></span>
    <br>
    age:<span th:text="${user.age}"></span>
    <br>


    map--id:<span th:text="${map.id}"></span>
    <br>
    map--name:<span th:text="${map.name}"></span>
    <br>
    map--age:<span th:text="${map.age}"></span>
    <br>
    map--sex:<span th:text="${map.sex}"></span>

</body>
</html>